/* General Styles */
body {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    background-color: #F8EDEB;
    color: #5D3730;
    margin: 0;
    padding: 0;
}

/* Halaman */
.page {
    display: none;
    padding: 30px;
}

.page.active {
    display: block;
    animation: fadeIn 0.6s ease-in-out;
}

/* Animasi Fade */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Title */
.main-title {
    font-size: 30px;
    font-weight: bold;
    color: #B25068;
}

/* Gambar (Tanpa Border) */
.letter-img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 15px auto;
}

/* Instruksi */
.instruction {
    font-size: 18px;
    color: #943A4A;
    margin-top: 20px;
}

/* Input & Button */
input {
    font-size: 18px;
    padding: 10px;
    width: 60%;
    margin-top: 10px;
    border: 2px solid #B25068;
    border-radius: 20px;
}

button {
    background-color: #B25068;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 30px;
    font-family: 'Lexend', sans-serif;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #943A4A;
    transform: scale(1.05);
}

/* Surat */
.letter-title {
    font-size: 25px;
    color: #943A4A;
}

.farewell-letter {
    font-family: 'Nanum Pen Script';
    font-size: 22px;
    color: #5D3730;
    margin: 20px;
}

.back-button {
    background-color: #5D3730;
    margin-top: 20px;
}
